/* ResetPasswordPage.css */
.password-wrapper {
    position: relative;
}



.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00ff26 !important;
    font-size: 1.4rem;
}

.form-card {
    background-color: #ffffff;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #6c5c5c;
}

.form-card .form-label {
    color: #000000;
}

.form-control {
    background-color: #fff;
}

.btn-primary:hover {
    color: #000000;
}

.btn-outline-light {
    border-color: #ffffff;
    color: #000000;
}



.btn-success:hover {
    color: #000000;
}

/* quitar borde verde o rojo en el ojo */
.password-wrapper .is-valid~.password-toggle-icon,
.password-wrapper .is-invalid~.password-toggle-icon {
    color: #f6fff6 !important;
}